<!DOCTYPE html>
<html ng-app="sysFinance">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SysFinance - Demo</title>

    <!-- Core CSS - Include with every page -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Bootstrap-select -->
    <link href="bootstrap-select.css" rel="stylesheet" type="text/css">

    <!-- Additional CSS -->
    <link href="demo.css" rel="stylesheet" type="text/css">

      <link rel="stylesheet" type="text/css" href="datePicker/css/datepicker3.css">


        <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
         <!-- Bootstrap-select JS -->
    <script src="bootstrap-select.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<!--        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.5.0.js"></script>-->


    <!-- Main Javascript file -->
    <script src="demo.js"></script>



</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html" style="font-family: 'Indie Flower', cursive;">SysFinance</a>
            </div>
            <!-- /.navbar-header -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="#">Demo</a></li>
                    <li><a href="#" target="ext">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>

                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                        </li>
                    <!-- /.dropdown -->
                </ul>
            <!-- /.navbar-top-links -->
            </div>
        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="flot.html">Flot Charts</a>
                            </li>
                            <li>
                                <a href="morris.html">Morris.js Charts</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="panels-wells.html">Panels and Wells</a>
                            </li>
                            <li>
                                <a href="buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="notifications.html">Notifications</a>
                            </li>
                            <li>
                                <a href="typography.html">Typography</a>
                            </li>
                            <li>
                                <a href="grid.html">Grid</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="blank.html">Blank Page</a>
                            </li>
                            <li>
                                <a href="login.html">Login Page</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-8">

                    <div id="welcome"> 
                        <div style="float:left;"><p style="text-align:center;">Wednesday, 5th<br>March 2014</p><!--<p style="font-family: 'Indie Flower', cursive;">SysFinance</p>--></div>
                        <div style="float:right;"> <p style="font-size:12px;">TOTAL BALANCE:</p> <p> R$ 570,00 </p></div>

                    </div> <!-- welcome -->

                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading" id="recent-history-heading">RECENT HISTORY</div>
                        <!-- Table -->
                            <table class="table">
                              <thead>
                                <tr><th>Date</th><th>Item</th><th>Value</th></tr>
                              </thead>
                              <tbody>
                                <tr><td>01/03/2014</td><td>Harry Potter and the Half-Blood Prince</td><td>R$ 35,00</td></tr>
                                <tr><td>01/03/2014</td><td>Groceries</td><td>R$ 90,00</td></tr>
                                <tr style="background-color:#c6e7ce"><td>01/03/2014</td><td>Salary</td><td>R$ 1000,00</td></tr>
                                <tr><td>28/02/2014</td><td>Hearthstone</td><td>R$ 15,00</td></tr>
                                <tr style="background-color:#fff"><td></td><td></td><td><a href="#"> + Complete History </a> </td></tr>

                              </tbody>
                            </table>

                            <!--<div class="panel-footer" style="overflow:hidden;">
                                <div class="pull-right" style="font-size:20px;"> TOTAL: R$ 570,00 </div>
                            </div>-->

                        </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> FINANCIAL SUMMARY
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Week</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Month</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Year</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                            <div style="float:right; margin-top:10px;"> 
                                <p>TOTAL Expenses: R$ 300,00 </p>
                                <p>TOTAL Incomes: R$ 1600,00 </p>    
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                  
  
                </div>
                
               <!-- .col-mg-8 -->
                
                <div class="col-lg-4">
                    <div class="row">
                        <div class="panel panel-default panel-left">
                            <div class="panel-heading">
                                <div>NEW EXPENSE</div>
                                 <div class="pull-right">
                                        <button type="button" id="showHideExpense" class="btn btn-default">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                </div>        
                            </div>
                        <!-- /.panel-heading -->
                            <div class="panel-body" id="panelBodyExpense">
                                
                                <div id="addExpenseForm" ng-controller="addExpensesController">
                                    
                                    <input class="datepicker form-control" id="addExpenseSelectDate" type="text" class="form-control" placeholder="Date">
                                    <br>
                                    <input type="text" class="form-control" id="whatExpense" placeholder="What did you spend on?" data-toggle="popover" data-placement="bottom" data-content="e.g. Running Trainers, Breaking Bad Season 5, Grocery Shopping, etc.">
                                    <br>   
                                    <div class="input-group" id="testInfo">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default">R$</button>

                                     <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">$ (USD) <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                          <li><a href="#">R$ (BRL)</a></li>
                                          <li class="divider"></li>
                                          <li><a href="#">£ (GBP)</a></li>
                                          <li class="divider"></li>
                                          <li><a href="#">€ (EUR)</a></li>
                                        </ul> -->
                                      </div><!-- /btn-group -->
                                      <input type="text" class="form-control" placeholder="How much?">
                                    </div><!-- /input-group -->
                                    <br>
                                    <select select-picker class="selectpicker" ng-model="dest" style="margin-bottom:15px;width:60%;" ng-options="opt.name for opt in destArray">
                                        <option></option>
                                    </select>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" style="display:inline;margin-left:2px;border-color:#fff;font-size:12px;"><span class="glyphicon glyphicon-plus"></span> Add item </button>

                                    <br>                
                                    <input type="text" class="form-control" placeholder="Where did the money come from?">
                                    <br>

                                    <div class="modal fade" id="myModal">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                              <h4 class="modal-title"><span class="glyphicon glyphicon-plus"></span> Add Destination Item</h4>
                                            </div>
                                            <div class="modal-body">
                                              <input type="text" ng-model="destinationText" class="form-control" placeholder="Type in the destination">
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                              <button type="button" ng-click="addToSelectBox(destinationText)" class="btn btn-primary" data-dismiss="modal">Done</button>
                                            </div>
                                          </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                      </div><!-- /.modal -->

                                    <a href="#" class="btn btn-default" style="width:100%;">Done!</a>
                                </div> <!-- addExpenseForm -->    

                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->

                        <div class="panel panel-default panel-left">
                            <div class="panel-heading">
                                <div>NEW INCOME</div>
                                    <div class="pull-right">
                                        <button type="button" id="showHideIncome" class="btn btn-default">
                                            <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </div>   
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body" id="panelBodyIncome">
                                
                                <div id="addIncomeForm">
                                    <input class="datepicker form-control" id="addIncomeSelectDate" type="text" class="form-control" placeholder="Date">
                                    <br>
                                    <input type="text" class="form-control" id="whatExpense" placeholder="What did you spend on?" data-toggle="popover" data-placement="bottom" data-content="e.g. Running Trainers, Breaking Bad Season 5, Grocery Shopping, etc.">
                                    <br>   
                                    <div class="input-group">
                                    <div class="input-group-btn">
                                      <button type="button" class="btn btn-default">R$</button>

                                     <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">$ (USD) <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                          <li><a href="#">R$ (BRL)</a></li>
                                          <li class="divider"></li>
                                          <li><a href="#">£ (GBP)</a></li>
                                          <li class="divider"></li>
                                          <li><a href="#">€ (EUR)</a></li>
                                        </ul> -->
                                      </div><!-- /btn-group -->
                                      <input type="text" class="form-control" placeholder="How much?">
                                    </div><!-- /input-group -->
                                    <br>
                                    <input type="text" class="form-control" placeholder="Where did the money go?">
                                    <br>                
                                    <input type="text" class="form-control" placeholder="Where did the money come from?">
                                    <br>
                                </div> <!-- addIncomeForm -->    

                                <a href="#" class="btn btn-default" style="width:100%;">Done!</a>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->

                        <div class="panel panel-default panel-left">
                            <div class="panel-heading">
                                <div>MONEY/CARDS REGISTRATION</div>
                                    <div class="pull-right">
                                        <button type="button" id="showHideRegistration" class="btn btn-default">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </div>   
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body" id="panelBodyRegistration">
                                
                                <div id="registrationForm" ng-controller="registrationController">

                                    <select class="selectpicker" ng-model="cardMoneySelect">
                                        <option value="money">Money</option>
                                        <option value="creditcard">Credit Card</option>
                                    </select>

                                    <div ng-show="cardMoneySelect=='creditcard'">
                                        <select class="selectpicker">
                                            <option value="visa">Visa</option>
                                            <option value="master">MasterCard</option>
                                            <option value="maestro">Maestro</option>
                                            <option value="american">American Express</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                        
                                    <input type="text" class="form-control" placeholder="Give a name to your credit card" ng-show="cardMoneySelect=='creditcard'">
                                    <br>

                                    <div class="input-group">
                                    <div class="input-group-btn">
                                      <button type="button" class="btn btn-default">R$</button>

                                     <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">$ (USD) <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                          <li><a href="#">R$ (BRL)</a></li>
                                          <li class="divider"></li>
                                          <li><a href="#">£ (GBP)</a></li>
                                          <li class="divider"></li>
                                          <li><a href="#">€ (EUR)</a></li>
                                        </ul> -->
                                      </div><!-- /btn-group -->
                                      <input type="text" class="form-control" placeholder="Amount available">
                                    </div><!-- /input-group -->
                                    <br>                
                                </div> <!-- registrationForm -->    

                                <a href="#" class="btn btn-default" style="width:100%;">Done!</a>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->

                </div> <!-- .row -->

                </div> <!-- .col-lg-4 -->


                        
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->

    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="js/demo/dashboard-demo.js"></script>

    <script src="datePicker/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $("#showHideExpense").click(function(){

            if($("#panelBodyExpense").is(':visible')) {
                $("#showHideExpense > span").removeClass('glyphicon-minus').addClass('glyphicon-plus');
            }
            else{
                $("#showHideExpense > span").removeClass('glyphicon-plus').addClass('glyphicon-minus');

            }

            $("#panelBodyExpense").fadeToggle(200);

        });

        $("#showHideIncome").click(function(){

            if($("#panelBodyIncome").is(':visible')) {
                $("#showHideIncome > span").removeClass('glyphicon-minus').addClass('glyphicon-plus');
            }
            else{
                $("#showHideIncome > span").removeClass('glyphicon-plus').addClass('glyphicon-minus');

            }

            $("#panelBodyIncome").fadeToggle(200);

        });

        $("#showHideRegistration").click(function(){

            if($("#panelBodyRegistration").is(':visible')) {
                $("#showHideRegistration > span").removeClass('glyphicon-minus').addClass('glyphicon-plus');
            }
            else{
                $("#showHideRegistration > span").removeClass('glyphicon-plus').addClass('glyphicon-minus');

            }

            $("#panelBodyRegistration").fadeToggle(200);

        });

        $('.selectpicker').selectpicker({});

        $('.datepicker').datepicker({});

    </script>

</body>

</html>
